<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Property Management" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="root">
      <div id="root_footer">
        <%= render 'shared/topbar' %>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: name %>
        <% end %>
        <div class="row">
          <div id="main_window" class="large-8 columns">
            <%= yield %>
          </div>
          <div id="sidebar" class="large-4 columns">
            <%= yield :sidebar %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>